include *.in
include *.md
include *.py
include *.rst
include *.txt
include *.yml
include .circleci/config.yml
include source-docs/Makefile
include source-docs/make.bat
include pytest.ini
include tox.ini
recursive-include docs *.gitkeep
recursive-include logs *.gitkeep
recursive-include qacode *.json
recursive-include qacode *.py
recursive-include tests *.py
recursive-include tests *.xml
recursive-include source-docs *.rst
recursive-include source-docs *.py
exclude tests/reports/coverage.xml